<div class="w-full min-h-screen flex flex-col">
  <div class="relative w-full md:h-[600px] h-[500px]  overflow-hidden">
    <video
      #myVideo
      muted
      autoplay
      loop
      playsinline
      class="w-full h-full object-cover"
    >
      <source src="https://restaurant-web-page.s3.eu-north-1.amazonaws.com/fire_grill.mp4" type="video/mp4">
    </video>
  </div>
  <div class="relative w-full h-[200px]">
    <div id="header" class="w-auto absolute top-0 right-0 md:text-8xl lg:text-9xl text-6xl text-right transform -translate-y-1/2 -translate-x-8">
      {{'home.header' | translate}}
    </div>
  </div>
  <div class="flex flex-col items-center gap-8">
    <div class="text-5xl text-red-500 font-bold" pAnimateOnScroll
         enterClass="animate-enter fade-in-10 animate-duration-1000">{{ 'home.subheader' | translate }}</div>
    <p-timeline [value]="events" align="alternate" class="lg:!block !hidden">
      <ng-template #marker let-event>
        <span
          class="flex w-8 h-8 items-center justify-center text-white rounded-full z-10 shadow-sm bg-red-500"
        >
          <i [class]="event.icon"></i>
        </span>
      </ng-template>
      <ng-template #content let-event >
        <div pAnimateOnScroll
          [enterClass]="event.index % 2 === 0
          ? 'animate-enter fade-in-10 slide-in-from-l-8 animate-duration-1000'
          : 'animate-enter fade-in-10 slide-in-from-r-8 animate-duration-1000'">
          <div class="flex flex-col w-full">
            <div class="w-full relative" [ngClass]="event.index === 1 ? 'h-[300px]' : 'h-[200px]'">
              <div class=" w-1/2 xl:text-8xl lg:text-7xl md:text-6xl text-5xl font-bold mb-16 absolute bottom-0 left-0 z-10 text-left">
                  {{'home.' + event.header | translate}}
              </div>
              <img
                [ngSrc]="event.image"
                [alt]="event.name"
                width="400"
                height="400"
                class="object-cover absolute bottom-0 right-0"
              />
            </div>
            <p-card>
              <p class="mt-4 text-left">
                {{'home.'+event.description | translate}}
              </p>
            </p-card>
          </div>
        </div>
      </ng-template>

    </p-timeline>
    <div class="w-full block lg:hidden px-8">
      @for (event of events; track event.id) {
        <div class="flex flex-col justify-center items-center">
          <div pAnimateOnScroll enterClass="animate-enter fade-in-10 slide-in-from-b-20 animate-duration-1000">
            <div class="flex flex-col w-full items-center">
              <div class="md:w-full w-2/3 md:relative flex flex-col md:items-between items-center justify-end md:h-[400px] h-auto">
                <div class="md:block hidden w-1/2 xl:text-8xl lg:text-7xl md:text-6xl text-5xl font-bold mb-16 absolute bottom-0 left-0 z-10 text-left">
                  {{'home.' + event.header | translate}}
                </div>
                <img
                  [ngSrc]="event.image"
                  [alt]="event.name"
                  width="400"
                  height="400"
                  class="object-cover md:absolute md:bottom-0 md:right-0"
                />
              </div>
              <p-card>
                <div class="block md:hidden text-3xl font-bold">
                  {{'home.' + event.header | translate}}
                </div>
                <p class="mt-4 text-left">
                  {{'home.'+event.description | translate}}
                </p>
              </p-card>
            </div>
          </div>
          <span
            class="mt-8 flex w-8 h-8 items-center justify-center text-white rounded-full z-10 shadow-sm bg-red-500"
          >
          <i [class]="event.icon"></i>
        </span>
        </div>
      }
    </div>
    <p-button pAnimateOnScroll
              enterClass="animate-enter fade-in-10 animate-duration-1000" class="mt-2" (click)="router.navigate(['/menu'])" label="{{'home.menu_button' | translate}}" icon="pi pi-arrow-right" iconPos="right" variant="outlined" />
    <div pAnimateOnScroll
         enterClass="animate-enter fade-in-10 animate-duration-1000" class="text-4xl text-red-500 font-bold text-center">{{ 'home.gallery_subheader' | translate }}</div>
    @if (images.length !== 0 ){
      <div pAnimateOnScroll
           enterClass="animate-enter fade-in-10 animate-duration-1000" class="w-full overflow-x-hidden">
      <p-carousel [value]="images" [numVisible]="3"
                  [numScroll]="1"
                  [circular]="true"
                  [autoplayInterval]="4000" class="px-8"
                  [responsiveOptions]="responsiveOptions">
        <ng-template pTemplate="item" let-img>
          <div class="flex justify-center items-center p-4">
            <img
              [src]="img"
              alt="gallery photo"
              class="w-full h-auto rounded-2xl shadow-md object-cover"
            />
          </div>
        </ng-template>
      </p-carousel>
      </div>
    }
    <p-button pAnimateOnScroll
              enterClass="animate-enter fade-in-10 animate-duration-1000" (click)="router.navigate(['/gallery'])" label="{{'home.gallery_button' | translate}}" icon="pi pi-arrow-right" iconPos="right" variant="outlined" />
    <div pAnimateOnScroll
         enterClass="animate-enter fade-in-10 animate-duration-1000" class="text-4xl text-red-500 font-bold text-center">{{ 'home.about_us_subheader' | translate }}</div>
    <iframe pAnimateOnScroll
            enterClass="animate-enter fade-in-10 animate-duration-1000"
      class="w-full px-8"
      height="400"
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1100.3517726168393!2d19.4545837994915!3d51.747553988829594!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x471a34dc61aa6d8d%3A0x1ab821d799b508d1!2zRHppZWthbmF0IHd5ZHppYcWCdSBGVElNUywgV8OzbGN6YcWEc2thIDIxNSwgOTAtOTI0IMWBw7Nkxbo!5e0!3m2!1spl!2spl!4v1762335774768!5m2!1spl!2spl"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade">
    </iframe>
    <p-button pAnimateOnScroll
              enterClass="animate-enter fade-in-10 animate-duration-1000" class="mb-8" (click)="router.navigate(['/about_us'])" label="{{'home.about_us_button' | translate}}" icon="pi pi-arrow-right" iconPos="right" variant="outlined" />
  </div>
  <app-footer></app-footer>
</div>
