<div class="fixed top-0 left-0 w-full z-50 flex flex-row justify-between bg-black p-2 items-center shadow-xl shadow-gray-500/50">
  <div class="flex flex-row gap-2 items-center cursor-pointer" (click)="router.navigate(['/'])" >
    <img ngSrc="https://restaurant-web-page.s3.eu-north-1.amazonaws.com/logo.svg" alt="Logo" height="75" width="75"/>
    <div id="name" class="md:text-3xl text-2xl text-nowrap">
      MEN'S CAVE
    </div>
  </div>
  <div class="lg:flex hidden flex-row gap-2 justify-end h-full items-center">
    <p-button label="{{'navigation.home'| translate}}" variant="text" (click)="router.navigate(['/'])"/>
    <p-button label="{{'navigation.menu'| translate}}" variant="text" (click)="router.navigate(['/menu'])" />
    <p-button label="{{'navigation.gallery'| translate}}" variant="text" (click)="router.navigate(['/gallery'])" />
    <p-button label="{{'navigation.order_online'| translate}}" variant="text" (click)="router.navigate(['/order-online'])"/>
    <p-button label="{{'navigation.contact'| translate}}" variant="text" (click)="router.navigate(['/contact'])"/>
    <p-splitbutton [label]="currentLanguage" [model]="items" text [icon]="currentLanguage === 'Polski' ? 'fi fi-pl' : 'fi fi-us'" />
  </div>
  <p-button variant="text" class="lg:hidden inline-block" (click)="toggleDrawer()">
    <i class="pi pi-bars" style="font-size: 2rem"></i>
  </p-button>
</div>
<p-drawer [(visible)]="visible" position="right" [closable]="false">
  <ng-template #header>
    <div class="flex flex-row justify-between w-full items-center">
      <div class="flex flex-row gap-2 items-center cursor-pointer" (click)="router.navigate(['/'])" >
        <img ngSrc="https://restaurant-web-page.s3.eu-north-1.amazonaws.com/logo.svg" alt="Logo" height="50" width="50"/>
        <div id="name" class="text-xl text-nowrap">
          MEN'S CAVE
        </div>
      </div>
      <p-button variant="text" (click)="toggleDrawer()">
        <i class="pi pi-times" style="font-size: 1.5rem"></i>
      </p-button>
    </div>
  </ng-template>
  <p-divider class="!m-0"></p-divider>
  <div class="flex-col gap-2 w-full mt-4">
    <p-button label="{{'navigation.home'| translate}}" variant="text" fluid (click)="router.navigate(['/'])"/>
    <p-button label="{{'navigation.menu'| translate}}" variant="text" fluid (click)="router.navigate(['/menu'])"/>
    <p-button label="{{'navigation.gallery'| translate}}" variant="text" fluid (click)="router.navigate(['/gallery'])"/>
    <p-button label="{{'navigation.order_online'| translate}}" variant="text" fluid (click)="router.navigate(['/order-online'])"/>
    <p-button label="{{'navigation.contact'| translate}}" variant="text" fluid (click)="router.navigate(['/contact'])"/>
  </div>
  <ng-template #footer>
    <div class="flex flex-row justify-end">
      <p-splitbutton dropdownIcon="pi pi-angle-up" [label]="currentLanguage" [model]="items" text [icon]="currentLanguage === 'Polski' ? 'fi fi-pl' : 'fi fi-us'"/>
    </div>
  </ng-template>
</p-drawer>
